.playwright-mcp/
/*.png
.DS_Store
node_modules/
.vite-dev.log
.next/
out/

# Unnecessary files
"OIAPL PRESENTATION MASTER.pdf"
details.md
details_images/
venv/

# Graphify
graphify-out/.graphify_*
graphify-out/cache/
graphify-out/converted/
graphify-out/2026-*/
graphify-out/cost.json


.env*
deployment.zip
.agents/
scratch.js
.vercel
